* {
  margin: 0 ;
  padding: 0 ;
  box-sizing: border-box ;
   
}

/* VERY IMPORTANT */
html, body {
  margin: 0 ;
  padding: 0 ;
background: linear-gradient(135deg, #090d06, #132016) !important;
 scroll-behavior: smooth;
  min-height: 100vh;
}